<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702651356438-qs5g3h5vh87atiaflkdo5j5mo7kfmh4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702651356438-qs5g3h5vh87atiaflkdo5j5mo7kfmh4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>702651356438-26r2dcateusi08prf4vakktmqotra7fl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDScZ5Dfo47Sg5AW6ny-WpXJ3k_Ef2TfAo</string>
	<key>GCM_SENDER_ID</key>
	<string>702651356438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vision.vimaIos</string>
	<key>PROJECT_ID</key>
	<string>delivery-1b761</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-1b761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702651356438:ios:69347184c63dfeb13b2c37</string>
	<key>DATABASE_URL</key>
	<string>https://delivery-1b761.firebaseio.com</string>
</dict>
</plist>